<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1> This is the FAQ page!</h1>
	
	<h1> What type of steel are your swords made from?</h1>
	<p> Our swords are made from moderate quality 1040 carbon steel, which is the bendiest goshdarn kind of steel you will ever see in your life.</p>
	
	<h1> How accurate are the replicas of these swords? </h1>
	<p> Are swords are accurate to the movies from a wall distance of around 2 meters. Close inspection will find minor inaccuracies in the blades. </p>
	
	<h1> How sharp do your swords ship? </h1>
	<p> Are swords are pretty dull when they first arrive. That said, you kill still kill a person with them if you tried.
	
	<a href = "/index.html"> Return to Index Page </a>
</body>	
</html>