<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" xmlns:sec = "https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<link rel = stylesheet type = text/css href = "../static/css/styles.css" th:href = "@{/css/styles.css}">
<meta charset="ISO-8859-1">
<title> Gateway Page </title>
</head>
<body>
	<header><h1> Welcome <span th:text = "${currentUser}"></span> </h1></header>

	<main> 
		<p><a href = "/" th:href = "@{/}"><input type = button value = Return></a></p>
		<p><a href = "/logout" th:href = "@{/logout}"><input type = button value = "Logout"></a>
		<p sec:authorize = "hasRole('USER')" ><a href = "/register"><input type = button value = "Add User"></a>
	</main>

	<footer><h2> By Kyle Galway </h2></footer>
</body>
</html>