<!DOCTYPE html>
<html lang = en>
<head>
<meta charset = "UTF-8">
<title>School Home Page </title>
<link rel = stylesheet type = text/css th:href = "@{css/school.css}" href = "../static/css/school.css">
</head>
<body>
	<header> 
		<h1> Welcome to Our School Registration Page</h1>
	</header>
	
	<main>
		<ul> 
			<li><a href = "/viewSchools" class = link>View Schools</a></li>
			<li><a href = "/addSchool" class = link>Add a School</a></li>
			<li><a href = "/removeSchools" class = link>Remove All Schools</a></li>
		</ul>
	</main>
	
	<footer> 
		<p> By Kyle Galway </p>
	</footer>

</body>
</html>